{% extends 'base.html' %}

{% block head %}
<script src="{{ url_for('static', filename='js/scrollspy.min.js') }}"></script>
{% endblock%}

{% block title %}Home{% endblock %}

{% block body %}
<!-- SCRIVERE IL CODICE ALL'INTERNO DI QUESTO DIV -->
<section class="bg-white ">
    <div class="container px-6 py-12 mx-auto">
        <h1 class="text-5xl font-bold text-center text-amber-400">Frequently Asked Question</h1>
        <div class="mt-8 xl:mt-16 lg:flex lg:-mx-12">
            <div class="lg:mx-12">
                <h1 class="text-xl font-semibold text-gray-800">Indice delle domande</h1>

                <div class="mt-4 space-y-4 lg:mt-8" id="toc">
                    <a href="/faq" class="block text-yellow-500 dark:text-yellow-400 hover:underline">Generale</a>
                    <a href="#" class="block text-gray-500  hover:underline">Obiettivo</a>
                    <a href="#" class="block text-gray-500  hover:underline">Aiuti</a>
                    <a href="#" class="block text-gray-500  hover:underline">Futuro</a>
                    <a href="#" class="block text-gray-500  hover:underline">Curiosità</a>
                </div>
            </div>
            
            <div class="flex flex-col flex-1 space-y-10">
                {% for q in faqs %}
                <section>
                    <h1 class="font-bold text-2xl text-gray-800">{{ q['title'] }}</h1>
                    <p class="text-lg mt-2 text-gray-600 border-amber-300 border-l-[3px] pl-4">{{ q['content'] }}</p>
                </section>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<script>
scrollSpy('#toc', {

})
</script>
{% endblock %}
